doctype html
= '\n'
html(lang='en')
  = '\n'
  head
    meta(charset='utf-8')
    title Movie Light
    link(rel='icon' href='/favicon.png')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    <!--[if IE]><script src='/html5shiv/dist/html5shiv.min.js'></script><![endif]-->
    link(rel='stylesheet' href='/reset-css/reset.css')
  body
    script(src='/jquery/dist/jquery.min.js')
= '\n'
